* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    list-style: none;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
}

html {
    --background: #111111;
    --text-color: #ffffff;
    --blue-button: #25E1E1;
    --border-color: #2D2F31;
    --button-hover: #00B9B9;
    --text-card-project: #D4D4D4;
    --card-background: #000000;
}

.border{
    border-bottom: 1px solid var(--border-color);
}

.container {
    max-width: 90rem;
    margin: 0 auto;
}

.fadeInDown {
    transform: translate3d(0, -20px, 0);
  }
  .fadeInUp {
    transform: translate3d(0, 20px, 0);
  }
  .fadeInRight {
    transform: translate3d(20px, 0, 0);
  }
  .fadeInLeft {
    transform: translate3d(-20px, 0, 0);
  }
  
  /* 7 Adicione o CSS Essencial abaixo */
  [data-anime] {
    opacity: 0;
  }
  .anime {
    opacity: 1;
    transform: none;
    transition: transform 0.8s, opacity 0.8s;
  }

  .menu-responsivo {
      display: flex;
      position: absolute;
      z-index: 2;
      color: #ffffff;
      top: 60px;
      right: 0px;
      margin-right: 2rem;
      height: 277px;
      width: 200px;
      background: var(--card-background);
      border-radius: 4px;
      opacity: 0%;
      visibility: hidden;
  }

  .link-section a{
      color: var(--text-color);
  }

  .menu-content ul {
      display: flex;
      flex-direction: column;
      gap: 16px;
      margin-left: 24px;
      margin-top: 2rem;
      font-weight: 500;
      color: var(--text-color); 
      font-size: 1rem;
  }

  .menu-content ul li:nth-child(6) {
    border-radius: 4px;
    padding: 12px 43px;
    display: flex;
    align-items: center;
    border: 1px solid var(--blue-button);
    color: var(--blue-button);
}

#button-contact a{
    color: var(--blue-button);
}

.menu-responsivo.active {
    opacity: 100%;
    visibility: visible;
}  

@media only screen and (max-width: 865px) {
    .menu-responsivo.active {
        opacity: 100%;
        visibility: visible;
    }  
}