/* Estilização do menu */

.background {
    background: var(--background);
}

.menu {
    height: 5.8125rem;
    width: 100%;
    padding: 0 4.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--background);
}

.menu ul{
    display: flex;
    color: var(--text-color);
    font-size: 1rem;
    font-weight: 400;
    font-family: 'Inter';
    gap: 2rem;
    align-items: center;
}

.menu ul li a {
    color: var(--text-color);
}

.menu ul li:nth-child(5) {
    padding-right: 2rem;
}

.menu ul li:nth-child(6) {
    border: 2px solid var(--blue-button);
    padding: 10px 32px;
    border-radius: 0.25rem;
    transition: 0.2s;
    cursor: pointer;
    font-weight: 500;
    color: var(--blue-button);
}

.menu ul li:nth-child(6):hover {
    background: var(--blue-button);
    font-weight: 500;
    color: var(--background);
}

/* Estilização do banner principal */

.sectionOne {
  background: var(--background);
  height: 600px;  
  padding: 0 4.5rem;
  position: relative;
} 

.banner-content {
    display: grid;
    grid-template-columns: 8fr 6fr;
    grid-template-rows: 531px;
    justify-content: center;
    align-items: center;
    position: relative;
    background-image: url('../images/circle.svg');
    background-repeat: no-repeat;
    background-position: 220px -30px;
    position: relative;
}

.banner-title h1 {
    font-size: 3rem;
    line-height: 1.3;
    color: var(--text-color);
    width: 18ch;
}

.banner-title span {
    color: var(--blue-button);
}

#start-1 {
    top: 2.875rem;
    position: absolute;
}

#star-2 {
    position: absolute;
    bottom: 3.125rem;
    left: 35rem;
}

#circle-1 {
    position: absolute;
    bottom: 4rem;
    left: 25rem;
}

#circle-3 {
    position: absolute;
    top: 1.6875rem;
    right: 38.75rem;
}

#circle-4 {
    position: absolute;
    right: 0px;
    bottom: 3rem;
    margin-right: 32px;
}

.banner-button a{
    display: flex;
    background: var(--blue-button);
    align-items: center;
    padding: 1.125rem 3.875rem;
    width: 291px;
    gap: 12px;
    margin-top: 1.5rem;
    border-radius: 0.25rem;
    color: var(--background);
    font-size: 1rem;
    font-weight: 600;
    transition: 0.2s;
}

.banner-button a:hover {
    background: var(--button-hover);
}

.button-hanburger-mobile {
    display: none;
}

.banner-image img {
    display: flex;
}

#moon {
    position: absolute;
    bottom: 2rem;
}

/* Media Queries Banner e Menu */

@media only screen and (max-width: 1330px) {
    .banner-content{
        background-position: 80px 0px;
    }
}

@media only screen and (max-width: 1270px) {

    .banner-content {
        background-position: 30px -20px;
    }

    .banner-title h1 {
        font-size: 2rem;
        line-height: 1.4;
    }

    .banner-button a{
        padding: 1.125rem 2.5rem;
        width: 248px;
    }

    .banner-image img{
        height: 400px;
    }
}

@media only screen and  (max-width: 1070px) {

    .menu {
        padding: 0px 3rem;
    }

    .sectionOne {
        padding: 0px 3rem;
    }

    .menu ul{
        gap: 1.2rem;
    }

    .menu ul li:nth-child(5) {
        padding-right: 0.5rem;
    }
}

@media only screen and (max-width: 930px) {
    .menu {
        padding: 0px 1.5rem;
    }

    .sectionOne {
        padding: 0px 1.5rem;
    }

    .banner-content {
        background-position: 20px -20px;
    }
}

@media only screen and (max-width: 860px) {

    .menu ul li {
        display: none;
    }

    .button-hanburger-mobile {
        display: block;
        padding: 5px 9px;
        /* border: 2px solid var(--blue-button); */
        border-radius: 2px;
        cursor: pointer;
    }

    .banner-content {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 400px;
        justify-content: center;
        align-items: center;
        position: relative;
        background-position: 20px -50px;
    }

    .sectionOne {
        background: var(--background);
        height: 500px;
    }

    .banner-title {
        margin-top: 48px;
    }

    .banner-image {
        display: none;
    }

    #start-1 {
        top: 1rem;
        position: absolute;
    }

    #star-2 {
        position: absolute;
        bottom: 2rem;
        left: 5rem;
    }

    #moon {
        position: absolute;
        bottom: 2rem;
    } 

    #circle-1 {
        position: absolute;
        bottom: 4rem;
        left: 9rem;
    }

    #circle-3 {
        position: absolute;
        top: 1.6875rem;
        right: 5rem;
    }

    #circle-4 {
        position: absolute;
        right: 0px;
        bottom: 3rem;
        margin-right: 32px;
    }

    #moon {
        position: absolute;
        bottom: 2rem;
    }
    
}

@media only screen and (max-width: 520px) {
    .banner-content {
        background-position: -123px -50px;
        
    }
}

@media only screen and (max-width: 470px) {

    #moon {
        position: absolute;
        bottom: 1rem;
    }
    
    .banner-title h1{
        font-size: 1.5rem;
        line-height: 1.4;
    }

    .menu {
        padding: 0 1.5rem;
    }

    .sectionOne {
        padding:  0 1.5rem;
    }

}

/* Estilização da 3ª seção linguagem e ferramentas */

.tools-container {
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
    height: 293px;
    max-width: 100%;
    background: var(--background);
}

.tools-content {
    padding: 0px 4.625rem;
}

.tools-content h2 {
    color: var(--text-color);
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    padding-top: 3rem;
    padding-bottom: 4rem;
}

.content-tools {
    display: flex;
    align-items: center;
    gap: 1.4rem;
    justify-content: center;
    flex-wrap: wrap;
}

.content-tools img {
    height: 43px;
}

@media only screen and (max-width: 1310px) {
    
    .tools-content h2 {
        padding-top: 3rem;
        padding-bottom: 3rem;
    }
}


@media only screen and (max-width: 610px) {
    .tools-content h2 {
        padding-bottom: 3rem;
    }
    
    .tools-container {
        height: 350px;
    }
}

@media only screen and (max-width: 500px) {
    .tools-container {
        height: 400px;
    }
}


@media only screen and (max-width: 455px) {
    .tools-content h2 {
        padding-bottom: 3rem;
        font-size: 1.4rem;
    }
    .tools-container {
        height: 25rem;
    }

    .tools-content {
        padding: 0px 2rem;
    }
}

/* Estilização Sobre mim */

.about-container {
    height: 650px;
    display: grid; 
    align-items: center;
}

.about-content {
    color: var(--text-color);
    height: 25rem;
    display: grid;
    grid-template-columns: 8fr 6fr;
    grid-template-rows: 400px;
    padding: 0 4.5rem;
    align-items: center;
    justify-content: center;
    
}

.about-text {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 4rem;
    width: 54ch;
}

.about-text h2{
    font-size: 2rem;
    display: flex;
    font-weight: 700;
}

.about-text p {
    font-size: 1.1rem;
    line-height: 1.4;
    font-weight: 400;
}

@media only screen and (max-width: 1260px) {

    .about-content {
        grid-template-columns: 3fr 1fr;
        padding: 0 4.5rem;
    }

    .about-image img{
        height: 360px;
    }

}

@media only screen and (max-width: 1070px) {
    .about-content {
        padding: 0 3rem;
    }
    .about-text {
        width: 43ch;
    } 
}

@media only screen and (max-width: 930px) {

    .about-content {
        grid-template-columns: 3fr 1fr;
        padding: 0 4.5rem;
    }

    .about-content {
        padding: 0 1.5rem;
    }

    .about-text p {
        font-size: 1rem;
    }

    .about-text {
        width: 40ch;
    } 
}


@media only screen and (max-width: 830px) {

    .tools-container {
        height: 360px;
    }

    .about-text {
        width: 35ch;
    } 
}

@media only screen and (max-width: 760px) {

    .tools-container {
        height: 460px;
    }

    .about-container {
        height: 850px;
        display: grid; 
        align-items: start;
        justify-content: center;
    }
    .about-content{
        grid-template-columns: 1fr;
    }

    .about-text {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 4rem;
        width: 50ch;
        margin-top: 3rem;
    }

    .about-text h2 {
        display: flex;
        justify-content: center;
        font-size: 2rem;
    }

    .about-text p {
        text-align: center;
    }

    .about-image img{
        height: 360px;
        margin-left: 55px;
    }

}

@media only screen and (max-width: 560px) {
        .about-text {
            width: 28ch;
            margin-top: 3rem;
            text-align: center;
            margin-left: 0px;
        }

        .about-image img{
            height: 260px;
            margin-left: 10px;
            margin-top: 5rem;
        }

        .about-container {
            height: 50rem;
        }

        .about-text h2 {
            padding-top: 4rem;
        }
}

/* Estilização seção de projetos */

.project-container {
    border-top: 1px solid var(--border-color);
}

.project-content {
    padding: 0 4.5rem;
    height: 47rem;
    max-width: 100%;
}

.project-text h2{
    padding-top: 8.375rem;
    padding-bottom: 4rem;
    font-size: 2rem;
    color: var(--text-color);
    display: flex;
}

@media only screen and (max-width: 1070px) {
    .project-content {
        padding: 0 3rem;
    }
}

@media only screen and (max-width: 930px) {
    .project-content {
        padding: 0 1.5rem;
    }
}
 
/* Estilização dos cards de projetos */

.project-cards {
    display: grid; 
    grid-template-columns: repeat(4, 4fr);
    gap: 0.1rem;
    justify-content: center;
    align-items: center;
}

/* .card {
    border: 1px solid var(--border-color);
} */

.project-cards .card {
    height: 395px;
    width: 290px;
    background: var(--card-background);
    border-radius: 4px;
    display: block;
}
.card-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 140px;
    width: 289px;
}

.card-content {
    color: var(--text-color);
    margin-left: 20px;
    margin-top: 1rem;
}

.card-content h3 {
    font-size: 1.25rem;
    margin-bottom: 16px;
}

.card-content h3 {
    font-size: 1.25rem;
    margin-bottom: 16px;
    font-weight: 600;
}

.card-content p {
    color: var(--text-card-project);
    margin-bottom: 2rem;
    font-weight: 400;
    width: 250px;
    display: inline-block;
}

.link-button {
    display: flex;
    border: 2px solid var(--blue-button);
    width: 251px;
    height: 3rem;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
}

.link-button a{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: var(--blue-button);
}

@media only screen and (max-width: 1385px) {
    .project-text h2 {
        justify-content: center;
    }
}

@media only screen and (max-width: 1305px) {

    .project-cards {
        display: grid; 
        grid-template-columns: repeat(2, 290px);
        gap: 1rem;
        justify-content: center;
        align-items: center;
    }
    
    .project-content {
        height: 74rem;
    }
}

@media only screen and (max-width: 700px) {

    .project-text h2 {
        justify-content: center;
        padding-top: 3rem;
        font-size: 2rem;
    }
    
    .project-cards {
        display: grid; 
        grid-template-columns: repeat(1, 290px);

    }
    
    .project-content {
        height: 116rem;
    }
}

/* Estilização da seção Educação e Experiência */

.education-container {
    border-top: 1px solid var(--border-color);
}

.education-content {
    height: 1007px;
}

.experience {
    padding: 0 4.5rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.experience-text h2{
    padding-top: 9rem;
    color: var(--text-color);
    font-size: 2rem;
    padding-bottom: 4rem;
}

.experience-cards {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.experience-cards .card {
    height: 293px;
    width: 538px;
    background: var(--card-background);
    border-radius: 4px;
    color: var(--text-color);
    padding-left: 1.812rem;
    padding-top: 2rem;
}

.icon-card {
    margin-bottom: 1.5rem;
    display: flex;
} 

.card-text h2 {
    display: inline-block;
    font-size: 1.375rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.card-text p {
    width: 26.5rem;
    display: inline-block;
    margin-bottom: 1rem;
    font-size: 1rem;
    font-weight: 400;
    color: var(--text-card-project);
}

.periodo {
    display: flex;
    gap: 0.75rem;
    align-items: center;
    margin-bottom: 1rem;
}

.periodo p {
    font-weight: 500;
    font-size: 1rem;
}

.work-time {
    font-weight: 400;
    font-size: 1rem;
    color: var(--text-card-project);
}

@media only screen and (max-width: 1240px) {

    .education-content {
        height: 1130px;
    }

    .experience-cards {
        width: 355px;
    }

    .experience {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }

    .experience-cards .card {
        height: 370px;
        width: 360px;
    }

    .card-text h2 {
        margin-bottom: 1.5rem;
        width: 18rem;
        line-height: 1.3;
    }

    .card-text p {
        width: 20rem;
        display: inline-block;
        margin-bottom: 1.5rem;
        font-size: 1rem;
        font-weight: 400;
        color: var(--text-card-project);
    }
    
}

@media only screen and (max-width: 1070px) {
    .experience {
        padding: 0 3rem;
    }
}

@media only screen and (max-width: 830px) {
    .experience {
        padding: 0 1.5rem;
    }
}

@media only screen and (max-width: 775px) {
    .experience-cards {
        align-items: center;
    }

    .experience-cards .card{
        padding-left: 1.5rem;
        width: 325px;
    }

    .experience-text h2{
        padding-top: 3rem;
        align-items: center;
    } 

    .experience {
        grid-template-columns: 1fr;
        padding: 0px;
    }

    .education-content {
        display: flex;
        justify-content: center;
        height:  1950px;
    }

    .card-text p {
        width: 18rem;
    }

    .work-time {
        width: 275px;
    }
}

/* Estilização da seção projetos di Github */

.github-container {
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
}

.github-content {
    padding: 0 4.5rem;
    height: 501px;
    width: 100%;
}

.github-text h2 {
    padding-top: 8.9375rem;
    color: var(--text-color);
    font-size: 2rem;
    font-weight: 700;
    padding-bottom: 4.3125rem;
}

.github-cards {
    display: flex;
    gap: 4.8125rem;
    flex-wrap: wrap;
}

.github-cards .card {
    min-width: 335px;
    height: 107px;
    background: var(--card-background);
    border-radius: 4px;
    display: flex;
    align-items: center;
    padding-left: 1.5rem;
    gap: 3.375rem;
}

.icon-and-text {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.icon-and-text p{
    color: var(--text-color);
    font-size: 1.125rem;
    font-weight: 500;
}

/* Responsivo da seção Projetos do Github */

@media only screen and (max-width: 1310px) {
    .github-cards {
        gap: 2.5rem;
    }
}

@media only screen and (max-width: 1250px) {
    .github-content {
        height: 590px;
    }
}

@media only screen and (max-width: 1070px) {
    .github-content {
        padding: 3rem;
    }
}

@media only screen and (max-width: 1070px) {
    .github-content {
        padding: 1.5rem;
    }
}

@media only screen and (max-width: 775px) {

    .github-content {
        height: 670px;
    }

    .github-text h2 {
        text-align: center;
        font-size: 2rem;
        padding-top: 3rem;
    }
    .github-cards {
        justify-content: center;
    }
}

@media only screen and (max-width: 380px) {
    .github-cards .card {
        min-width: 325px;
    }

    .github-cards {
        gap: 1rem;
    }
}

/* Estilização do footer */

.footer-content {
    height: 380px;
    padding: 0 4.5rem;
    display: flex;
    padding-top: 88px;
    justify-content: space-between;
}

.footer-text {
    display: flex;
    gap: 107px;
    height: 200px;
}

.site-map-list {
    color: var(--text-color);
}

.site-map-list ul li#site-map-title{
    font-size: 1.125rem;
    font-weight: 500;
    padding-bottom: 1.5rem;
}

.site-map-list ul li{
    font-size: 1rem;
    color: var(--text-card-project);
    margin-bottom: 1rem;
}


.contact-list {
    color: var(--text-color);
}

.contact-list ul li#contact-title{
    font-size: 1.125rem;
    font-weight: 500;
    padding-bottom: 1.5rem;
}

.contact-list ul li{
    font-size: 1rem;
    color: var(--text-card-project);
    margin-bottom: 1rem;
}

#social-icons-title h2 {
    color: var(--text-color);
    padding-bottom: 1.5rem;
}

.footer-social-icons {
    padding-left: 2rem;
}

.body-icon {
    height: 44px;
    width: 44px;
    border-radius: 4px;
    background: var(--card-background);
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-icons-button {
    display: flex;
    gap: 0.75rem;
}

@media only screen and (max-width: 1120px) {

    .footer-text {
        flex-wrap: wrap;
        gap: 80px;
    }

    .footer-content {
        flex-wrap: wrap;
    }

    .footer-content {
        height: 450px;
    } 

    .footer-content {
        height: 380px;
        display: flex;
        padding-top: 32px;
        justify-content: center;
    }
}

@media only screen and (max-width: 970px) {

    .footer-social-icons {
        padding-left: 2rem;
    }

    .footer-social-icons{
        justify-content: center;
    }

    .footer-content {
        height: 500px;
        padding-top: 50px;
    }    

    .footer-text {
        display: flex;
        height: 220px;
    }
}

@media only screen and (max-width: 970px) {

    .footer-social-icons{
        justify-content: center;
        padding-left: 2rem;
    }

    .footer-content {
        height: 500px;
        padding-top: 50px;
    }    

    .footer-text {
        display: flex;
        height: 220px;
    }
}

@media only screen and (max-width: 830px) {
    .footer-text #logo img{
        padding-left: 1.625rem;
        padding-bottom: 2rem;
    }
    
   .footer-text {
       justify-content: center;
       height: 700px;
       gap: 3.75rem;
       flex-direction: column;
   }

   .footer-content {
        height: 1000px;
        flex-direction: column;
        align-items: center;
        padding: 0 1rem;
    }  

    .contact-list ul{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .site-map-list ul{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .footer-social-icons {
        padding-left: 0;
    }

    .footer-social-icons #social-icons-title H2 {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media only screen and (max-width: 770px) {
 
    .footer-content {
     height: 880px;
 }  
 }

 @media only screen and (max-width: 770px) {
    
    .footer-text {
        gap: 1.25rem;
    }
 }


