/* Estilização do menu */

.background {
    background: var(--background);
}

.menu {
    height: 5.8125rem;
    width: 100%;
    padding: 0 4.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--background);
}

.menu ul{
    display: flex;
    color: var(--text-color);
    font-size: 1rem;
    font-weight: 400;
    font-family: 'Inter';
    gap: 2rem;
    align-items: center;
}

.menu ul li a {
    color: var(--text-color);
}

.menu ul li:nth-child(5) {
    padding-right: 2rem;
}

.menu ul li:nth-child(6) {
    border: 2px solid var(--blue-button);
    padding: 10px 32px;
    border-radius: 0.25rem;
    transition: 0.2s;
    cursor: pointer;
    font-weight: 500;
    color: var(--blue-button);
}

.menu ul li:nth-child(6):hover {
    background: var(--blue-button);
    font-weight: 500;
    color: var(--background);
}

/* Estilização do banner principal */

.sectionOne {
  background: var(--background);
  height: 600px;  
  padding: 0 4.5rem;
  background-image: url('../images/circle.svg');
  background-repeat: no-repeat;
  background-position: 290px -30px;
  position: relative;
} 

.banner-content {
    display: grid;
    grid-template-columns: 8fr 6fr;
    grid-template-rows: 531px;
    justify-content: center;
    align-items: center;
    position: relative;
}

.banner-title h1 {
    font-size: 3rem;
    line-height: 1.3;
    color: var(--text-color);
    width: 18ch;
}

.banner-title span {
    color: var(--blue-button);
}

#start-1 {
    top: 2.875rem;
    position: absolute;
}

#star-2 {
    position: absolute;
    bottom: 3.125rem;
    left: 35rem;
}

#circle-1 {
    position: absolute;
    bottom: 4rem;
    left: 25rem;
}

#circle-3 {
    position: absolute;
    top: 1.6875rem;
    right: 38.75rem;
}

#circle-4 {
    position: absolute;
    right: 0px;
    bottom: 3rem;
    margin-right: 32px;
}

.banner-button a{
    display: flex;
    background: var(--blue-button);
    align-items: center;
    padding: 1.125rem 3.875rem;
    width: 291px;
    gap: 12px;
    margin-top: 1.5rem;
    border-radius: 0.25rem;
    color: var(--background);
    font-size: 1rem;
    font-weight: 600;
}

.button-hanburger-mobile {
    display: none;
}

.banner-image img {
    display: flex;
}

#moon {
    position: absolute;
    bottom: 2rem;
}

/* Media Queries Banner e Menu */

@media only screen and (max-width: 1330px) {
    .sectionOne {
        background-position: 130px 0px;
    }
}

@media only screen and (max-width: 1270px) {

    .sectionOne {
        background-position: 10px 0px;
    }

    .banner-title h1 {
        font-size: 2rem;
        line-height: 1.4;
    }

    .banner-button a{
        padding: 1.125rem 2.5rem;
        width: 248px;
    }

    .banner-image img{
        height: 400px;
    }
}

@media only screen and  (max-width: 1070px) {

    .menu {
        padding: 0px 3rem;
    }

    .sectionOne {
        padding: 0px 3rem;
    }

    .menu ul{
        gap: 1.2rem;
    }

    .menu ul li:nth-child(5) {
        padding-right: 0.5rem;
    }
}

@media only screen and (max-width: 930px) {
    .menu {
        padding: 0px 1.5rem;
    }

    .sectionOne {
        padding: 0px 1.5rem;
    }
}

@media only screen and (max-width: 860px) {

    .menu ul li {
        display: none;
    }

    .button-hanburger-mobile {
        display: block;
        padding: 5px 9px;
        border: 2px solid var(--blue-button);
        border-radius: 2px;
        cursor: pointer;
    }

    .sectionOne {
        background-position: -50px 0px;
    }

    .banner-content {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 400px;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    .sectionOne {
        background: var(--background);
        height: 500px;
    }

    .banner-title {
        margin-top: 48px;
    }

    .banner-image {
        display: none;
    }

    #start-1 {
        top: 1rem;
        position: absolute;
    }

    #star-2 {
        position: absolute;
        bottom: 2rem;
        left: 5rem;
    }

    #moon {
        position: absolute;
        bottom: 2rem;
    } 

    #circle-1 {
        position: absolute;
        bottom: 4rem;
        left: 9rem;
    }

    #circle-3 {
        position: absolute;
        top: 1.6875rem;
        right: 5rem;
    }

    #circle-4 {
        position: absolute;
        right: 0px;
        bottom: 3rem;
        margin-right: 32px;
    }

    #moon {
        position: absolute;
        bottom: 2rem;
    }
    
}
@media only screen and (max-width: 470px) {

    #moon {
        position: absolute;
        bottom: 1rem;
    }
    
    .banner-title h1{
        font-size: 1.5rem;
        line-height: 1.4;
    }

    .menu {
        padding: 0 1.5rem;
    }

    .sectionOne {
        padding:  0 1.5rem;
    }

}